
.span1{
  color: #B6C0F2;
  margin-left: 5px;
  font-size: 0.14rem;
}

.span2{
  color: #B6C0F2;
  font-size: 0.21rem;
  margin-left: 30px;
}

.span3{
  font-size: 0.32rem;
  color: #fff;
}

.span4{
  font-size: 0.16rem;
  color: #75757f;
}

.span5{
  float: left;
  margin-top: 0.06rem;
  font-size: 0.24rem;
}

.span6{
  font-size: 0.14rem;
}

.span7{
  font-size: 0.15rem;
  color: #599c7b;
}

.span8{
  font-size: 0.6rem;
  color: #fff;
  font-weight: 700;
}

.span9{
  font-size: 0.16rem;
  color: #878592;
}

.span10{
  font-size: 0.2rem;
  color: #c7c8c9;
}

.span11 {
  font-size: 0.14rem;
  color: #4359C3;
}

.span12 {
  font-size: 0.14rem;
  color: #72738D;
}

.span13 {
  font-size: 0.16rem;
  color: #fff;
}

.span14 {
  font-size: 0.14rem;
  font-weight: 400;
  color: #72738D;
}

.span15{
  font-size: 0.2rem;
  font-weight: 400;
  color: #2C3149;
}

.span16 {
  font-size: 0.14rem;
  color: #8B8E99;
}

.span17 {
  margin-left: 0.4rem;
  font-size: 0.14rem;
  color:#999
}

.span18{
  font-size: 0.14rem;
  color: #2C3149;
}